name: Test

on: [push, pull_request]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, windows-latest, macOS-latest]
        steps:
            - uses: actions/checkout@v1

            - name: Start FastCI Optimization
              uses: jfrog-fastci/fastci@main
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                fastci_otel_token: ${{ secrets.FASTCI_TOKEN }}
            
            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: '18'
            - name: Install
              run: npm i
            - name: Lint
              run: npm run lint
            - name: Tests
              run: npm t
